---
const { googleFormUrl, buttonText, primaryColor, detallTitle, detallDescription, detallButtonText } = Astro.props;

// Definir variables con valores por defecto
const title = detallTitle || "Optimiza tu negocio con nuestra estrategia";
const description = detallDescription || "Descubre cómo nuestra landing page optimizada puede ayudarte a capturar más leads y aumentar tus conversiones. Empieza hoy y lleva tu estrategia al siguiente nivel.";
const buttonTextFinal = detallButtonText || "Empieza Ahora";
---

<section class="min-h-screen flex items-center text-center bg-secondary text-white">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-4xl font-bold mb-3 mt-3">{title}</h2>
    <p class="text-xl opacity-75 mb-24 max-w-2xl mx-auto">{description}</p>
    <a
      href={googleFormUrl}
      class="btn btn-primary btn-xl text-black px-6 py-3 rounded-full text-lg font-semibold transition-all duration-300 hover:bg-blue-700 mt-14"
      style={`background-color: ${primaryColor};`}
      aria-label={buttonTextFinal}
      target="_blank"
      rel="noopener noreferrer"
    >
      {buttonTextFinal}
    </a>
  </div>
</section>